<form [formGroup]="form">
  <ng-container #container></ng-container>

  <fieldset>
    <label for="lorem">Lorem 0</label>
    <input [formControl]="form.controls.search" id="lorem" type="search" value="">
  </fieldset>
  <fieldset>
    <label for="lorem1">Lorem 1</label>
    <input id="lorem1" type="checkbox" value="">
  </fieldset>
  <fieldset>
    <label for="lorem2">Lorem 2</label>
    <input id="lorem2" type="date" value="">
  </fieldset>
  <fieldset>
    <label for="lorem3">Lorem 3</label>
    <input id="lorem3" type="range" value="">
  </fieldset>
</form>

<app-servers [isPink]="true"></app-servers>
